<div class="form-group">
  <label ng-bind="ctrl.getTitle()"></label>
  <div ng-repeat="box in filterResult = (ctrl.getSelections() | orderBy:'name' | filter:{disabled:!true})"  class="checkbox">
    <input type="checkbox" id="{{$id}}-{{$index}}"  ng-disabled="box.disabled" ng-model="box.checked" ng-change="ctrl.callback(box)" name="{{$id}}-{{$index}}" value="{{box.name}}">
    <label for="{{$id}}-{{$index}}" ng-bind="box.name"></label>
  </div>
  <div ng-if="filterResult.length === 0">
    Geen opties voor deze categorie mogelijk.
  </div>
</div>