<!doctype html>
<html ng-app="tink.filter">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <link rel="stylesheet" href="bower_components/nouislider/distribute/nouislider.min.css" />
  <!-- endbower -->
</head>
<body ng-controller="ctrl">
<tink-filter tink-selected="select" ng-model="data"></tink-filter>
<div slider start="from" end="to"  step="5" callback='set'></div><br/><br/>
<tink-filter tink-selected="select" ng-model="data"></tink-filter>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/nouislider/distribute/nouislider.js"></script>
<script src="bower_components/tink-helper-safe-apply-angular/dist/tink-helper-safe-apply-angular.js"></script>
<!-- endbower -->
<script>
  (function(module) {
    try {
      module = angular.module('tink.filter');
    } catch (e) {
      module = angular.module('tink.filter', ['tink.safeApply']);
    }
    module.controller('ctrl', ['$scope',function (scope) {
        scope.from = new Date('2010');
        scope.to = new Date('2050');
        scope.select = [];
      scope.data = [{
          name:'Categorie',
          linkName:'type',
          selections:[
          {
            name:'Persoongegevens',
            link:[
              {
                name:'Administratieve toestand'
              },
              {
                name:'Burgerlijke staat'
              },
              {
                name:'Geboorte & overlijden'
              },
              {
                name:'Identiteitsbewijzen'
              },
              {
                name:'Naam'
              },
              {
                name:'Nationaliteit'
              },
              {
                name:'Rijksregisternummer'
              },
              {
                name:'Vingerafdruk'
              }
            ]
          },
          {
            name:'Adresgegevens',
            link:[
              {
                name:'Adreswijziging'
              },
              {
                name:'Afwezigheid'
              },
              {
                name:'Aanvraag inschrijving'
              },
              {
                name:'Buitenlands adres'
              },
              {
                name:'Verblijfsadres'
              },
              {
                name:'Hoofdverblijfplaats'
              },
              {
                name:'Verzendadres'
              },
              {
                name:'Wettelijke woonplaats'
              }
            ]
          },
          {
            name:'Gezin',
            link:[
            {
              name:'Gezinssamenstelling'
            },
            {
              name:'Wettelijk samenwonen'
            }]
          },
          {
            name:'Werk & financieel',
            link:[
            {
              name:'Arbeidskaart'
            },
            {
              name:'Beroep'
            },
            {
              name:'Beroepskaart'
            },
            {
              name:'Rekening'
            }]
          },
          {
            name:'Afstamming'
          },
          {
            name:'Vertegenwoordiging'
          }]
        }]
       // scope.select.push(scope.data[0].selections[0]);console.log(scope.data[0].selections[3].link[2])
        scope.select.push(scope.data[0].selections[3].link[2]);
    }]);
})();

</script>
<script src="scripts/directives/filter.js"></script>
<script src="scripts/directives/selectbox.js"></script>
<script src="scripts/directives/slider.js"></script>
</body>
</html>
